body {
    background: var(--background-color-light) !important;
    color: var(--text-color) !important;
}

.row {
    background: var(--background-color);
    margin: 10% auto;
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

a {
    color: var(--text-color) !important;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.button-custom-link {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    body {
        background: var(--background-color) !important;
    }
    .row {
        padding: 5px;
        margin: 0px !important;
    }

    .form-group {
        margin-bottom: 10px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 5px;
    }
}